<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peanut Butter System - Customer Form</title>
    <style>
        

    </style>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <!-- Header Section -->
    <header>
        <div class="logo">
            <h1>Peanut Butter System</h1>
        </div>
        
    </header>
     <div class="sidebar">
      
        <ul class="nav-links">
            <li><a th:href="@{/dashboard}" >Dashboard</a></li>
            <li><a th:href="@{/inventory}" >inventory</a></li>
            <li><a th:href="@{/salesDashboard}" >Sales</a></li>
            <li><a th:href="@{/customerDashboard}">Customers</a></li>
            
        </ul>
    </div>

    <div class="main-content">
        <div class="form-container">
            <h2>Customer Definition</h2>
            <form th:action="@{/saveCustomer}" method="post">
                <label for="firstrName">First Name</label>
                <input type="text" id="firtName" name="firstName" required>

                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" required>

                <label for="locationID">location Name</label>
                    <select name="location.locationID" required>
                        <option value="">Select location</option>
                        <option th:each="location : ${locations}" th:value="${location.locationID}" th:text="${location.locationName}"></option>
                    </select>
                <label for="phoneNumber">Contact Number</label>
                <input type="tel" id="phoneNumber" name="phoneNumber"  pattern="[0-9]{10}">

                <button type="submit">Save Customer</button>
            </form>
        </div>
    </div>

</body>
</html>
