<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peanut Butter System - Expense Edit Form</title>
    
    <link rel="stylesheet" href="/style.css">

    <script src="/Message.js"></script>
</head>
<body>

    <!-- Header Section -->
    <header>
        <div class="logo">
            <h1>Peanut Butter System</h1>
        </div>
        
    </header>
     <div class="sidebar">
      
        <ul class="nav-links">
            <li><a th:href="@{/dashboard}" >Dashboard</a></li>
            <li><a th:href="@{/inventory}" >inventory</a></li>
            <li><a th:href="@{/salesDashboard}" >Sales</a></li>
            <li><a th:href="@{/customerDashboard}">Customers</a></li>
             <li><a th:href="@{/financeDashboard}">Finance</a></li>
           
        </ul>
    </div>

    <div class="main-content">
        <!-- Success and Error Messages -->
        <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}"></p>
            <button class="error-btn" onclick="closeMessage('error-message')">OK</button>
        </div>
        <div th:if="${successMessage}" class="success-message">
            <p th:text="${successMessage}"></p>
            <button class="success-btn" onclick="closeMessage('success-message')">OK</button>
        </div>
        <div class="form-container">
            <h2>Edit Expense</h2>
            <form th:action="@{/updateExpense}"th:object="${expense}" method="post">
                <input type="text" th:field="*{expenseID}" hidden>
                <label for="expenseName">Expense Name</label>
                <input type="text" id="expenseName" th:field="*{expenseName}" required>

                

                <label for="description" >Expense Description</label>
                <textarea name="description" id="description" rows="3" ></textarea>
        


                <button type="submit">Edit expense type</button>
                

            </form>
        </div>
    </div>

</body>
</html>
