<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peanut Butter System - Customer Form</title>
    
    <link rel="stylesheet" href="/style.css">
</head>
<body>

   <!-- Header Section -->
    <header>
        <div class="logo">
            <h1>Peanut Butter System</h1>
        </div>
        
    </header>
     <div class="sidebar">
      
        <ul class="nav-links">
            <li><a th:href="@{/dashboard}" >Dashboard</a></li>
            <li><a th:href="@{/inventory}" >inventory</a></li>
            <li><a th:href="@{/salesDashboard}" >Sales</a></li>
            <li><a th:href="@{/customerDashboard}">Customers</a></li>
             <li><a th:href="@{/financeDashboard}">Finance</a></li>
            
        </ul>
    </div>
    <div class="main-content">
        <div class="form-container">
            <h2>location Definition</h2>
            <form th:action="@{/saveLocation}" method="post">
                <label for="locationName">Location Name</label>
                <input type="text" id="locationName" name="locationName" required>

                <button type="submit">Save Location</button>
                 <div class="tab-buttons">
            <button ><a th:href="@{/locations}">view location list</a></button>
            
        </div>
                

            </form>
        </div>
    </div>

</body>
</html>
