<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peanut Butter System - Payment form</title>
    
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <!-- Header Section -->
    <header>
        <div class="logo">
            <h1>Peanut Butter System</h1>
        </div>
        
    </header>
     <div class="sidebar">
      
        <ul class="nav-links">
            <li><a th:href="@{/dashboard}" >Dashboard</a></li>
            <li><a th:href="@{/inventory}" >inventory</a></li>
            <li><a th:href="@{/salesDashboard}" >Sales</a></li>
            <li><a th:href="@{/customerDashboard}">Customers</a></li>
             <li><a th:href="@{/financeDashboard}">Finance</a></li>
            
        </ul>
    </div>

    <div class="main-content">
        <div class="form-container">
            <h2>Payment Type Definition</h2>
            <form th:action="@{/savePayment}" method="post">
                <label for="paymentType">Payment Type</label>
                <input type="text" id="paymentType" name="paymentType" required>

                <button type="submit">Save payment type</button>
                

            </form>
        </div>
    </div>

</body>
</html>
