<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peanut Butter System - Product Form</title>
    <style>
        body {
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            height: 100vh;
            background-color: #f5f1e1;
        }

    </style>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="sidebar">
        <h2>PB Manager</h2>
        <a href="#">Dashboard</a>
        <a href="#">Capital</a>
        <a href="#">Production</a>
        <a href="#">Stock</a>
        <a href="#">Sales</a>
        <a href="#">Customers</a>
        <a href="#">Reports</a>
        <a href="#">Settings</a>
    </div>

    <div class="main-content">
        <div class="form-container">
            <h2>Product Definition</h2>
            <form th:action="@{/saveProduct}" method="post">
                <label for="productName">Product Name</label>
                <input type="text" id="productName" name="productName" required>

                <label for="reorderLevel">reorder Level</label>
                <input type="number" id="reorderLevel" name="reorderLevel" required>

                <label for="unitID">unit Name</label>
                    <select name="unit.unitID" required>
                        <option value="">Select unit</option>
                        <option th:each="unit : ${units}" th:value="${unit.unitID}" th:text="${unit.unitAbbriviation}"></option>
                    </select>
                

                <button type="submit">Save Product</button>
            </form>
        </div>
    </div>

</body>
</html>
