<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peanut Butter System - unit Definition Form</title>
    
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<!-- Header Section -->
    <header>
        <div class="logo">
            <h1>Peanut Butter System</h1>
        </div>
        
    </header>
     <div class="sidebar">
      
        <ul class="nav-links">
            <li><a th:href="@{/dashboard}" >Dashboard</a></li>
            <li><a th:href="@{/inventory}" >inventory</a></li>
            <li><a th:href="@{/salesDashboard}" >Sales</a></li>
            <li><a th:href="@{/customerDashboard}">Customers</a></li>
            
        </ul>
    </div>

    <div class="main-content">
        <div class="form-container">
            <h2>unit Definition</h2>
            <form th:action="@{/saveUnit}" method="post">
                <label for="unitName">unit Name</label>
                <input type="text" id="unitName" name="unitName" required>

                <label for="unitAbbriviation">unit unitAbbriviation</label>
                <input type="text" id="unitAbbriviation" name="unitAbbriviation" required>

                <label for="description" >Unit Description</label>
                <textarea name="description" id="description" rows="3" ></textarea>
        


                <button type="submit">Save unit</button>
                

            </form>
        </div>
    </div>

</body>
</html>
